<section class="intro">
  <h1 class="site-title-line">
    <img
      class="site-title-logo"
      src="https://cdn.jsdelivr.net/gh/storybookjs/brand@master/icon/icon-storybook-default.svg"
      alt=""
      width="36"
      height="36"
    />
    <span class="site-title-text">developer in the AI Era</span>
  </h1>
  <p>
    Notes on the craft of building software when the tools have changed.
  </p>
</section>

@if (activeTag()) {
  <p class="tag-filter-banner">
    Showing posts tagged <strong>{{ activeTagLabel() }}</strong>.
    <a routerLink="/" class="tag-filter-clear">Show all</a>
  </p>
}

<ul class="post-list">
  @for (post of filteredPosts(); track post.slug) {
    <li class="post-item">
      <time [attr.datetime]="post.date">{{ post.date | date: 'longDate' }}</time>
      <a [routerLink]="['/posts', post.slug]" class="post-title">{{ post.title }}</a>
      @if (post.tags.length) {
        <div class="post-tags">
          @for (t of post.tags; track t.slug) {
            <a
              [routerLink]="['/']"
              [queryParams]="{ tag: t.slug }"
              class="tag-pill"
              [class.tag-pill-active]="activeTagNormalized() === t.slug"
            >
              {{ t.label }}
            </a>
          }
        </div>
      }
      @if (post.description) {
        <p class="post-desc">{{ post.description }}</p>
      }
    </li>
  } @empty {
    <li class="post-item-empty">
      @if (activeTag()) {
        No posts with this tag.
        <a routerLink="/">Clear filter</a>
      } @else {
        No posts yet. Drop a markdown file in <code>src/content/posts/</code> and rebuild.
      }
    </li>
  }
</ul>
